<div class="container" id="layout">
    <div class="jumbotron">
  <h1 class="display-4" id="heading1">TaskIt- Your Daily To Do Planner!</h1>
        <p> List and track your common tasks. Add to your calendar as a reminder.</p>
    <p class="logo"></p>
    <a class="btn btn-secondary btn-lg btn-block" id="btn-login-github" href="/auth/github"><i class="icon-github" aria-hidden="true"></i> Log in with Github</a>
    <hr />
    <p> Start a new list  / Access your list here</p>
    <div class="half-wide pull-left">
        <a class="btn btn-default btn-lg btn-block" id="btn-login" data-toggle="modal" data-target="#modal-signup">Sign Up</a>
    </div>
    <div class="half-wide pull-right">
        <a class="btn btn-default btn-lg btn-block" id="btn-login" data-toggle="modal" data-target="#modal-login">Log In</a>
    </div>
</div>
</div>

<!-- ================================================== -->
<!-- =================     MODALS     ================= -->

<div id="modal-login" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log in</h4>
            </div>
            <form id="login" name="login" method="post" action="/login">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="userid" placeholder="you@domain.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-lg submit">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-signup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign Up for a new account</h4>
            </div>
            <form id="signup" name="signup" method="post" action="/signup">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" class="form-control" placeholder="you@domain.com">
                    </div>
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input name="firstname" type="text" class="form-control" placeholder="John" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input name="lastname" type="text" class="form-control" placeholder="Smith" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-lg btn-primary" type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
</div>


{{#if this.noPhone}}
<div id="phoneModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please enter your phone number.</h4>
            </div>
            <form id="phone" method="post" action="/phone/{{this.user_id}}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" class="form-control" placeholder="+15121234567">
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn" type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1558493570849816',
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>